.sus-full {
  padding: 100px 0;
}
.steps-section {
  position: relative;
  max-width: 600px;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px dashed rgb(199, 199, 199);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2 {
    font-size: 30px;
  }
  gap: 20px;
  text-align: center;
  > h2,
  p {
    max-width: 350px;
    width: 80%;
  }
}

.step {
  position: absolute;
  text-align: center;

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  h3 {
    color: rgb(156, 7, 255);
  }
}
.phone {
  display: none;
}
@media only screen and (max-width: 780px) {
  .phone {
    display: block;
    text-align: center;

    .steps-section-phone {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 40px;
      padding-top: 20px;

      .st {
        text-align: center;
        img {
          width: 200px;
          height: 200px;
          border-radius: 50%;
        }
      }
    }
  }
  .steps-section {
    display: none;
  }
}
