.number-stats-section {
  text-align: center;
  background-color: #272727;
  color: #fff;
  padding: 100px 0;
}

.number-stats-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .number-stat {
    width: calc(25% - 20px); /* 4 columns with 20px spacing between them */
    margin: 10px;
    h4 {
      font-size: 18px;
      text-align: center;
      padding-top: 20px;
    }

    .number {
      font-size: 60px;
      display: inline;
      font-weight: bold;
      color: white;
    }

    .description {
      font-size: 16px;
      font-weight: 300;
      color: #b5b5b5;
    }
  }

  @media (max-width: 768px) {
    .number-stat {
      width: 100%;
      margin: 30px 0;
    }
  }
}
