.contact-full {
  background: url("../../images/cutton-love.jpg") center center no-repeat;
  background-size: cover;
  position: relative;

  min-height: 620px;
  height: auto;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .content {
    padding: 60px 0;
    position: static;
    color: #fff;
    z-index: 2;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    > * {
      max-width: 450px;
      width: 100%;
    }
    h2 {
      font-size: 50px;
    }
    p {
      line-height: 20px;
      padding: 8px 0;
    }

    .contact-form {
      > * {
        padding: 8px 0;
      }
      label {
        display: block;
        text-align: start;
        font-weight: bold;
        font-size: 20px;
      }
      input,
      textarea {
        width: calc(100% - 30px);
        padding: 15px 12px;
        border-radius: 10px;
        border: none;
        margin-top: 5px;
        background-color: rgba($color: #000000, $alpha: 0.5);
        color: #fff;
        font-size: 15px;
        :focus {
          outline: none;
        }
      }
    }
  }
}
